.app {
  display: flex;
  flex-direction: column;
  height: 380px;
  align-items: center;
  justify-content: space-between;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brush-selection {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.paint {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.palette {
  display: flex;
  margin-left: -30px;
}

#palette {
  padding: 1rem;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.brush {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 50px 50px 50px;
  border: 1px solid black;
}

.square {
  transition: 0.5s;
}

.color-1{
  background-color: red;
}
.color-2{
  background-color: blue;
}
.color-3{
  background-color: yellow;
}
.color-4{
  background-color: orange;
}
.color-5{
  background-color: cornflowerblue;
}

.color-6 {
  background-color: greenyellow;
}

.color-7 {
  background-color: sandybrown;
}

.color-8 {
  background-color: slateblue;
}

.color-9 {
  background-color: springgreen;
}

.color-10 {
  background-color: crimson;
}
